# Dataset: reveal_EEO1_for_2016

In [1]:
import pandas as pd
import numpy as np
import csv
from datetime import date

In [2]:
#Load the data
reveal_csv= pd.read_csv ("Resources/reveal_EEO1_for_2016.csv")

In [3]:
tech_ee_df=pd.DataFrame(reveal_csv)
tech_ee_df.head(3)

   company  year                race gender   job_category count
0  23andMe  2016  Hispanic_or_Latino   male     Executives     0
1  23andMe  2016  Hispanic_or_Latino   male       Managers     1
2  23andMe  2016  Hispanic_or_Latino   male  Professionals     7

# Step 1) Inspect Data

In [4]:
#Identify how many rows and columns in this dataset
tech_ee_df.shape

(4500, 6)

In [5]:
#Verify Data type in this dataset
tech_ee_df.dtypes
tech_ee_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 6 columns):
company         4500 non-null object
year            4500 non-null int64
race            4500 non-null object
gender          4200 non-null object
job_category    4500 non-null object
count           4500 non-null object
dtypes: int64(1), object(5)
memory usage: 1.5 MB

In [6]:
tech_ee_df['count'] = pd.to_numeric(tech_ee_df['count'].replace("na",np.nan))

In [7]:
#Identify any N/A or missing data, if 
# diversity_df.isnull().any().any()
tech_ee_df.isna().sum()

company           0
year              0
race              0
gender          300
job_category      0
count            60
dtype: int64

# Step 2) Clean and Transform data

In [8]:
#Filter to data by gender with "NULL" value
tech_ee_df[tech_ee_df.gender.isnull()].head(2)

     company  year            race gender job_category  count
168  23andMe  2016  Overall_totals    NaN   Executives   17.0
169  23andMe  2016  Overall_totals    NaN     Managers   65.0

In [9]:
#rename columns names
tech_ee_df=tech_ee_df.rename(columns={'race':'ethnicity'})
tech_ee_df.columns

Index(['company', 'year', 'ethnicity', 'gender', 'job_category', 'count'], dtype='object')

In [10]:
#Fill NA value to "Unknown"
tech_ee_df=tech_ee_df.fillna({'gender':'Unknown'})
#validation
# tech_ee_df.gender.isnull().head()
tech_ee_df.isnull().any().any()
tech_ee_df.isna().sum()

company          0
year             0
ethnicity        0
gender           0
job_category     0
count           60
dtype: int64

In [11]:
tech_ee_df.dropna(axis = 0, subset=['count'], how='any', inplace=True)

In [12]:
new_tech= tech_ee_df[tech_ee_df["count"] != 0]

new_tech.isna().sum()

company         0
year            0
ethnicity       0
gender          0
job_category    0
count           0
dtype: int64

# Spot Check each column in detail level

In [13]:
#spot check detail values under column column
tech_ee_df['company'].unique()
#verifty online that HP Inc and HPE are two separate legal entities

array(['23andMe', 'Adobe', 'Airbnb', 'Apple', 'Cisco', 'eBay', 'Facebook',
       'Google', 'HP Inc.', 'HPE', 'Intel', 'Intuit', 'LinkedIn', 'Lyft',
       'MobileIron', 'Nvidia', 'Pinterest', 'Salesforce', 'Square',
       'Twitter', 'Uber', 'View', 'PayPal', 'NetApp', 'Sanmina'],
      dtype=object)

In [14]:
#spot check detail values under year column
tech_ee_df['year'].unique()

array([2016], dtype=int64)

In [15]:
#spot check detail values under ethnicity column
tech_ee_df['ethnicity'].unique()

array(['Hispanic_or_Latino', 'White', 'Black_or_African_American',
       'Native_Hawaiian_or_Pacific_Islander', 'Asian',
       'American_Indian_Alaskan_Native', 'Two_or_more_races',
       'Overall_totals'], dtype=object)

In [16]:
#Rename ethnicity
tech_ee_df['ethnicity']=tech_ee_df['ethnicity'].replace({'Black_or_African_American': 'African American',
                                                            'Hispanic_or_Latino': 'Hispanic',
                                                            'Native_Hawaiian_or_Pacific_Islander': 'Pacific Islander',
                                                            'American_Indian_Alaskan_Native': 'Native American',
                                                            'Two_or_more_races': 'Others',
                                                            'Overall_totals':'Others'})
tech_ee_df['ethnicity'].unique()

array(['Hispanic', 'White', 'African American', 'Pacific Islander',
       'Asian', 'Native American', 'Others'], dtype=object)

In [17]:
#spot check detail values under gender column
tech_ee_df['gender'].unique()

array(['male', 'female', 'Unknown'], dtype=object)

In [18]:
#spot check detail values under job_category column
tech_ee_df['job_category'].unique()

array(['Executives', 'Managers', 'Professionals', 'Technicians',
       'Sales workers', 'Administrative support', 'Craft workers',
       'operatives', 'laborers and helpers', 'Service workers', 'Totals',
       'Previous_totals'], dtype=object)

In [19]:
tech_ee_df[tech_ee_df.job_category.isin (['Totals'])].head()

    company  year         ethnicity  gender job_category  count
10  23andMe  2016          Hispanic    male       Totals    8.0
22  23andMe  2016          Hispanic  female       Totals   11.0
34  23andMe  2016             White    male       Totals  102.0
46  23andMe  2016  African American    male       Totals    2.0
58  23andMe  2016  Pacific Islander    male       Totals    0.0

In [20]:
#Rename job_category
tech_ee_df['job_category']=tech_ee_df['job_category'].replace({'Craft workers': 'Construction',
                                                            'Sales workers': 'Retail',
                                                            'Administrative support': 'Administrative',
                                                            'operatives': 'Assembly Line',
                                                            'laborers and helpers': 'Construction',
                                                            'Service workers':'Social Service',
                                                              'Totals': 'Others',
                                                              'Previous_totals':'Others'})
tech_ee_df['job_category'].unique()

array(['Executives', 'Managers', 'Professionals', 'Technicians', 'Retail',
       'Administrative', 'Construction', 'Assembly Line',
       'Social Service', 'Others'], dtype=object)

# Import Dataset to PostgreSQL

In [21]:
import sqlalchemy as sa
from sqlalchemy import create_engine
from password import password

In [22]:
# engine = create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/ETL_Project2')
connection = engine.connect()

In [23]:

#Get all table names from the database: Pewlett_Hackard
print (engine.table_names())

['diversity', 'distributions']

In [24]:
# new_diversity.to_sql(name=‘diversity’, con=engine, if_exists=‘append’, index=True)
tech_ee_df.to_sql('tech_employees', engine)

In [26]:
tech_ee_df=engine.execute('Select * from tech_employees')
tech_ee_df

In [27]:
print (engine.table_names())

['diversity', 'distributions', 'tech_employees']